body {
    background: #fff;
}

#preChatForm {
    min-height: 100vh;
    padding: 0;

    display: flex;
    flex-direction: column;
    background: #fff;
}

.logo {
    width: 150px !important;
}

.jumbotron {
    background: #8f1518;
    padding: 5px;
    border-radius: 0;
    height: 90px;
}

.jumbotron #logo {
    width: 150px;
    height: 65px;
    background-image: url('https://res.cloudinary.com/thl/image/upload/v1522716631/Rentals/roadbear/assets/road-bear-new-logo-without-outer-glow-white.png');
    background-position: center ;
    background-size: 150px 95px;
    background-repeat: no-repeat;
    visibility: visible;
    float: none;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
}
#preChatForm .jumbotron .chat-header,
#preChatForm .jumbotron h4 {
    display: none;
}

button {
    background: #8f1518;
}

.questionaire {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    width: 320px;
    align-items: center;
    margin: auto;
    background: #fff;
}

.questionaire:before {
    content: 'Welcome to Live Chat';
    font-size: 24px;
    margin-bottom: 20px;
}



/* input -- */
.form-control {
    border-radius: 0;
}
.form-control:focus {
    border-color: #8f1518;
    box-shadow: none
}
.required:focus {
    box-shadow: none;
}

#fullName {
    margin-bottom: 10px;
}

/* button -- */
.btn {
    border-radius: 0;
}
div .btn-primary {
    background-color: #8f1518;
    border: 1px solid  #8f1518;
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn-primary:hover {
    background-color: #484848;
    border-color: #484848;
}
.btn-primary:focus {
    box-shadow: none
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus{
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color:   #484848;
    border-color:       #484848;
}

.btn-primary.disabled,
.btn-primary:disabled {
    background-color:   #484848;
    color:              #fff;
    box-shadow: none;
    border-color: #484848;
}

#send {
    width: 200px;
    margin-left: 20px;
}


/* nav bar */
#topNavBar {
    background: #8f1518;
}

@media (min-width: 640px){
    #topNavBar {
        background: #8f1518 !important;
        display: flex;
        flex-direction: row;
    }
    #topNavBar a.logo {
        order : 1;
    }
    #topNavBar .navbar-toggler {
        display: none !important;
    }
    .navbar-brand.logo {
        order: 1;
        width: 150px;
        height: 65px;
        visibility: visible;
        background-image: url('https://res.cloudinary.com/thl/image/upload/v1522716631/Rentals/roadbear/assets/road-bear-new-logo-without-outer-glow-white.png');
        background-size: 150px 95px;
        background-position: left center ;
        background-repeat: no-repeat;
        visibility: visible;
    }
    .navbar-collapse {
        display: flex;
        flex-direction: row;
        order : 2;
        flex-grow: 0;
        width: auto;
        flex-basis: auto;
    }

    .nav-item {
        padding: 0 5px;
    }

    .navbar-nav .nav-link {
        height: 46px;
        text-align: center;
        line-height: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff !important;
        flex-direction: row;
        padding-left: 20px;
        padding-right: 20px;
        background: transparent;
        border: 1px solid #fff;
    }
    li[data-content-id="end"] .nav-link {
        background: #fff;
        border-color: #fff;
        color: #8f1518 !important;
    }
    li[data-content-id="end"] .nav-link:focus {
        background: #ebebeb;
        border-color: #ebebeb;
    }
    li[data-content-id="end"] .nav-link:active {
        background: #ebebeb;
        border-color: #ebebeb;
    }

    .navbar-nav {
        flex-direction: row;
    }

}


/* chat */
.text-balloon {
    border-radius: 0;
    border: none;
    padding: 5px 10px;
}
.text-balloon.agent {

    background: #dcebf8;
}
.text-balloon.customer {
    background: #2989e8;
}


/* chat form  */
#chatEntryPanel {
    padding: 15px;
    max-width: 100%;
}

/* buttons in the nav bar */


/* end chat screen ------------------------- */
#endChatOverlay {
    padding: 0;
    display: flex;
    flex-direction: column;
}

#endChat,
#closeEndChatOverlay {
    max-width: 320px;
    height: 42px;
}


/* chat history ------------------- */
#chatHistory {
    padding-top: 80px;
}


/* download transcript */
#promoteToVoiceOverlay, /* new */
#downloadTranscriptOverlay {
    padding: 0;

}


#endChat,
#closeEndChatOverlay,
#downloadTranscript,
#closeDownloadOverlay {
    height: 42px;
    max-width: 320px;
    display: table;
    margin: 20px auto;
}

#closePromoteToVoiceOverlay, /* new */
#closeDownloadOverlay,
#closeEndChatOverlay {
    border: 1px solid #8f1518;
    background: transparent;
    color: #8f1518;
}


#closePromoteToVoiceOverlay:hover, /* new */
#closePromoteToVoiceOverlay:focus, /* new */
#closeDownloadOverlay:hover,
#closeDownloadOverlay:focus,
#closeEndChatOverlay:focus,
#closeEndChatOverlay:hover {
    background: #eee;
    color:      #000;
    border-color: #000;
}

#promoteToVoiceOverlay .jumbotron, /* new */
#downloadTranscriptOverlay .jumbotron,
#endChatOverlay .jumbotron{
    width:              100%;
    height:             90px;
    background-color:   #8f1518;
    margin:             0;
}


#promoteToVoiceOverlay .jumbotron h4, /* new */
#promoteToVoiceOverlay .jumbotron p, /* new */
#downloadTranscriptOverlay .jumbotron h4,
#downloadTranscriptOverlay .jumbotron p,
#endChatOverlay .jumbotron h4,
#endChatOverlay .jumbotron p {
    width:          100%;
    text-align:     center;
    padding-left:   20px;
    padding-right:  20px;
    float:          left;
}

#promoteToVoiceOverlay .jumbotron h4, /* new */
#downloadTranscriptOverlay .jumbotron h4,
#endChatOverlay .jumbotron h4 {
    margin-top:     25vh;
}

@media (max-width: 575px){
    #chatEntryPanel #send {
        width: auto;
    }
}
.questionaire {
    padding-left:   20px;
    padding-right:  20px;
    width:          100%;
    max-width:      360px;
}

@media (max-width: 639px){
    #topNavBar .navbar-toggler {
        border: none;
        display: flex;
        width: 50px;
        height: 50px;
        position: relative;
    }

    #topNavBar .navbar-toggler .navbar-toggler-icon,
    #topNavBar .navbar-toggler .navbar-toggler-icon:before,
    #topNavBar .navbar-toggler .navbar-toggler-icon:after {
        display: block;
        content: '';
        width: 100%;
        height: 5px;
        background: #fff;
        position: relative;
        margin-top: 7px;
    }
    #topNavBar .navbar-toggler .navbar-toggler-icon:before {
        margin-top: 12px;
    }
    #topNavBar .navbar-toggler .navbar-toggler-icon:after {
        margin-top: 7px;
    }

    nav#topNavBar {
        background: #8f1518 !important;
    }
    .nav-link {
        color: #fff !important;
    }
    .nav-link:hover {
        text-decoration: underline;
    }


    .navbar-brand.logo {
        background-image: url('https://res.cloudinary.com/thl/image/upload/v1522716631/Rentals/roadbear/assets/road-bear-new-logo-without-outer-glow-white.png');
        background-size: 102px 65px;
        background-position: right center ;
        background-repeat: no-repeat;
        visibility: visible;
    }
}


/* new */
#promoteToVoiceOverlay label,
#promoteToVoiceOverlay #promoteToVoice,
#promoteToVoiceOverlay #closePromoteToVoiceOverlay,
#promoteToVoiceOverlay #promotePhoneNumber {
    max-width: 320px;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: calc(100% - 40px); /* apple */
}

#promoteToVoiceOverlay label {
    max-width: 465px;
    text-align: center;
}



@media (min-width: 640px) and (max-width: 810px){
    .navbar-brand.logo {
        width: 150px;
    }
    .navbar-nav .nav-link {
        padding-left: 6px;
        padding-right: 6px;
    }
}


/* banana */
#downloadTranscript,
#closeDownloadOverlay,
#endChat,
#closeEndChatOverlay {
    width: calc(100% - 40px);
}
